statuspulse.local {
    # This block handles Uptime Kuma
    handle_path /status* {
        reverse_proxy uptime-kuma:3001
    }

    # This block handles the Main App
    handle {
        reverse_proxy app:8000
    }

    tls internal
}